.bash_history
.bashrc
.embedchain/
.mem0/
.rustup/
.cache/
.codeoss/
.config/
.docker/
.gemini/
.gitconfig
.lesshst
.npm/
.profile
.ssh/
.sudo_as_admin_successful
.vscode/
mytripmate/.venv/
mytripmate/.venv/lib/
.venv
**/.env